@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: Outfit;
}

@theme {
  --color-primary: #5f6FFF;
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}
 /* :root{
  --color-primary: #5f6FFF;
  --grid-cols-auto: repeat(auto-fill,minmax(200px,1fr));
} */

/* create a utility that uses the var */
@layer utilities {
  .grid-cols-auto {
    grid-template-columns: var(--grid-cols-auto);
  }
}

.active hr {
  @apply block
}

::-webkit-scrollbar {
  @apply hidden
}

@media(max-width:740px) {
  .active p{
    @apply text-white bg-primary
  }
}
